.maindiv {
    width: 960px;
    height: 300px;
    background-color: #34495E;
    text-align: center;
    margin: 0 auto;
}

.main_inner{
    display: inline-block;
    margin: 80px 5px;
}

p{
    padding-top: 10px;
}

.div1 {
    width: 65px;
    height: 40px;
    background-color: #E67E22;
    text-align: center;
    /* padding: 10px; */
}

.div2 {
    width: 5px;
    height: 21px;
    background: #fff;
    margin-left: 29px;
}
.div3 {
    color: orange;
    margin-left: -1px;
    font-size: 25px;
}

.container{
    width: 960px;
    height: 250px;
    background-color: #9B59B6;
    text-align: center;
    margin: 0 auto;
    position: relative;

}

.circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px dotted #E67E22;
    background: #34495E;
    position: absolute;
    top: 120px;
    left: 150px;
}
.circle2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px dotted #E67E22;
    background: #34495E;
    position: absolute;
    top: 15px;
    left: 250px;
}
.circle3 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 7px solid #E67E22;
    background: #34495E;
    position: absolute;
    top: 90px;
    left: 350px;
}
.circle4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px dotted #E67E22;
    background: #34495E;
    position: absolute;
    top: 15px;
    left: 500px;
}

.circle5 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px dotted #E67E22;
    background: #34495E;
    position: absolute;
    top: 120px;
    left: 600px;
}

.footer {
    width: 960px;
    height: 80px;
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
    margin: -16px auto;
    padding-top: 35px;
}